<header class="bg-img">
    <app-header></app-header>

    <!-- <div class="padding-x py-10 md:py-14 xl:pb-24 font-jakarta">
        <h1 data-aos="fade-down" data-aos-duration="1500" class="text-customGreen font-extrabold text-3xl md:text-5xl lg:text-6xl">Health Care</h1>

        <div class="mt-10">
            <img class="w-full object-cover rounded-lg" src="assets/images/health/healthCare.png" alt="">
        </div>
    </div> -->
</header>

<div class="mt-10 padding-x grid md:grid-cols-[40%_1fr] gap-6">
    <div class="relative md:h-full">
        <img class="w-full h-[200px] md:h-full object-cover rounded-lg" src="assets/images/health/healthCare.png" alt="">
        <div class="absolute h-full w-full gradient_ top-0 left-0"></div>
        <h1 data-aos="fade-down" data-aos-duration="1000" class="text-white absolute top-5 left-5 font-extrabold text-3xl md:text-5xl">Health Care</h1>
    </div>
    <div class="rounded-lg cbn-bg grid md:grid-cols-3 px-4  text-[#F0EDED] py-10 gap-10 md:py-14">
        <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000">
            <p class="">137</p>
            <p>Number of hospital projects financed</p>
        </div>
        <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="300">
            <p>34</p>
            <p>Number of pharmaceutical projects fianced</p>
        </div>
        <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="500">
            <p>60</p>
            <p>Number of MRI Machines financed</p>
        </div>
        <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="700">
            <p>42</p>
            <p>Number of CT Scanners Scanned</p>
        </div>
        <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="900">
            <p>4</p>
            <p>Number of Ecology Machines Financed</p>
        </div>
        <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="1100">
            <p>150+</p>
            <p>Number of new bed space in hospital projects fiananced</p>
        </div>
        <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="1300">
            <p>6.79</p>
            <p>Research Grants in Projects related to COVID and LASSA Fever testing kits</p>
        </div>
        <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="1500">
            <p>128,064</p>
            <p>Estimated Sustainable Jobs Created</p>
        </div>
    </div>
</div>
<div class="bg-[#F1F0EC] mt-10 md:mt-14 padding-x py-10 md:py-14 xl:pb-24 font-jakarta">
    <div class="grid lg:grid-cols-[1fr_40%] lg:gap-[14px]">
        <div>
            <mat-accordion>
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="text-[#F0EDED]">HSIF</div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>
                    <p>Health Sector Intervention Fund</p>

                    <ul>
                        <li>Established in 2020</li>
                        <li>Provide credit to indigenous pharmaceutical companies and other healthcare value chain players intending to build or expand capacity.</li>
                        <li>Increase private and public investment in the healthcare sector, facilitate improvements in healthcare delivery and reduce medical tourism to enhance foreign exchange conservation</li>
                    </ul>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
        </div>
        
        <div class="hidden lg:block h-full farm-crop-bg rounded-lg bg-center"></div>
    </div>
</div>