<header class="bg-img">
    <app-header></app-header>

    <div class="padding-x py-10 md:py-14 xl:pb-24 font-jakarta">
        <h1 data-aos="fade-down" data-aos-duration="1500" class="text-customGreen font-extrabold text-3xl md:text-5xl lg:text-6xl">Infrastructure and Energy</h1>

        <div class="mt-10">
            <img class="w-full object-cover rounded-lg" src="assets/images/infrastructure-banner.png" alt="">
        </div>
    </div>
</header>

<div class="padding-x cbn-bg grid md:grid-cols-2 lg:grid-cols-3  text-white py-10 gap-10 xl:gap-[60px] md:py-14 xl:py-20 bg-customBlack2">
    <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000">
        <p class="">865,956</p>
        <p>Number of meters procured manufactured</p>
    </div>
    <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="300">
        <p>852,079</p>
        <p>Number of meters installed to improve coverage</p>
    </div>
    <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="600">
        <p>17%</p>
        <p>Share Of Financed Projects That Expanded Operation</p>
    </div>
    <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="900">
        <p>221</p>
        <p>Percentage increased in metered collected</p>
    </div>
    <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="1200">
        <p>1,662.3 MW</p>
        <p>Addition power generation capability finance</p>
    </div>
    <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="1500">
        <p>20%</p>
        <p>Percentage point increase in capacity utilization of domestic meter production plants</p>
    </div>
    <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="1800">
        <p>1,180MW</p>
        <p>Recovered/restored power through financed turbine overhaul</p>
    </div>
    <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="2100">
        <p>4600</p>
        <p>Estimated sustainable jobs created</p>
    </div>
    <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="2400">
        <p>500,000km+</p>
        <p>Projected number of passengers to be conveyed conveyed through the Lagos Stated Red and Blue Lines</p>
    </div>
</div>

<div class="bg-[#F1F0EC] padding-x py-10 md:py-14 xl:pb-24 font-jakarta">
    <div class="grid lg:grid-cols-[1fr_40%] lg:gap-[14px]">
        <div>
            <mat-accordion>
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="text-[#F0EDED]">PAIF</div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>
                    <p>Power And Airline Intervention Fund</p>

                    <ul>
                        <li>Established in April 30th, 2010.</li>
                        <li>To catalyze financing of the real sector of the Nigerian economy for power and airline projects.</li>
                        <li>To fast-track the development of electric power projects, improve power supply, and enhance the living standard of the citizens
                        through consistent power supply.</li>
                        <li>To fast-track the development of the aviation sector of the Nigerian economy by improving the terms of credit to Airlines, provide leverage for additional private sector investments in the power and aviation sectors, and employment generation.</li>
                    </ul>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="text-[#F0EDED]">NEMSF</div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>
                    <p>Nigeria Electricity Market Stabilization Facility</p>

                    <ul>
                        <li>Established in 2014.</li>
                        <li>Designed for Settling outstanding payment obligations due to Market Participants, Service Providers and Gas Suppliers that accrued during the Interim Rules Period (IRP Debts) as well as the Legacy Debts of the PHCN generation companies owed to gas suppliers and the Nigeria Gas Company Ltd.</li>
                        <li>Put the Nigerian Electricity Supply Industry (NESI) on a route to economic viability and sustainability.</li>
                    </ul>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="text-[#F0EDED]">NMMP</div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>
                    <p>Nigeria Mass Metering Programme</p>

                    <ul>
                        <li>Established in 2020.</li>
                        <li>Designed to close the metering gap in the Nigerian Electricity Supply Industry (NESI).</li>
                        <li>The closing of this gap will enhance the efficiency of revenue collection by Distribution Companies (DisCos) and thereby facilitate meeting their obligations to other upstream market participants.</li>
                        <li>Increase Nigeria's metering rate, and Elimination of arbitrary estimated billing; Strengthen the local meter value chain by increasing local meter manufacturing, assembly and deployment capacity and Support Nigeria's economic recovery by creating jobs in the local meter value chain.</li>
                    </ul>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
        </div>
        
        <div class="hidden lg:block h-full farm-crop-bg rounded-lg bg-center"></div>
    </div>
</div>