<section class="py-10 padding-x">
    <div class="">
        <h1 class="font-bold text-xl xs:text-2xl lg:text-3xl xl:text-[48px] text-customGreen">
            Success Stories
        </h1>
    
        <div class="mt-6 md:mt-10 md:hidden">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="rounded-lg relative aspect-[16/11] bg-cover" style="background-image: url(../../../../../assets/images/landing-header-overlay.png), url(../../../../../assets/msme.gif);">
                        <div class="absolute rounded !rounded-tl-lg top-0 left-0 p-3 md:p-4 bg-[#E8E8E8] text-[#272026]">MSMEs</div>
                        <img src="assets/icons/white-play-icon.png" class="cursor-pointer absolute !w-8 top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]" alt="">
                        <div class="absolute rounded-b-lg font-bold text-white lg:text-xl bottom-0 text-center w-full left-0 p-3 md:p-4 bg-[#947C6C]">
                            Abugu Juliet Nwachukwu
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="rounded-lg relative aspect-[16/11] bg-cover" style="background-image: url(../../../../../assets/images/landing-header-overlay.png), url(../../../../../assets/healthcare.gif);">
                        <div class="absolute rounded !rounded-tl-lg top-0 left-0 p-3 md:p-4 bg-[#E8E8E8] text-[#272026]">Healthcare</div>
                        <img src="assets/icons/white-play-icon.png" class="cursor-pointer absolute !w-8 top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]" alt="">
                        <div class="absolute rounded-b-lg font-bold text-white lg:text-xl bottom-0 text-center w-full left-0 p-3 md:p-4 bg-[#947C6C]">Funbod Medical Diagnostix</div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="rounded-lg relative aspect-[16/11] bg-cover" style="background-image: url(../../../../../assets/images/landing-header-overlay.png), url(../../../../../assets/infrastructure.gif);">
                        <div class="absolute rounded !rounded-tl-lg top-0 left-0 p-3 md:p-4 bg-[#E8E8E8] text-[#272026]">Infrastructure and Energy</div>
                        <img src="assets/icons/white-play-icon.png" class="cursor-pointer absolute !w-8 top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]" alt="">
                        <div class="absolute rounded-b-lg font-bold text-white lg:text-xl bottom-0 text-center w-full left-0 p-3 md:p-4 bg-[#947C6C]">
                            Azure Power
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="mt-6 md:mt-10 hidden md:block">
            <owl-carousel-o class="md-carousel" [options]="customOptions2">
                <ng-template carouselSlide>
                    <div class="rounded-lg relative h-[350px] bg-cover" style="background-image: url(../../../../../assets/images/landing-header-overlay.png), url(../../../../../assets/msme.gif);">
                        <div class="absolute rounded !rounded-tl-lg top-0 left-0 p-3 md:p-4 bg-[#E8E8E8] text-[#272026]">MSMEs</div>
                        <img src="assets/icons/white-play-icon.png" class="cursor-pointer absolute !w-8 top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]" alt="">
                        <div class="absolute rounded-b-lg font-bold text-white lg:text-xl bottom-0 text-center w-full left-0 p-3 md:p-4 bg-[#947C6C]">
                            Abugu Juliet Nwachukwu
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="rounded-lg relative h-[350px] bg-cover" style="background-image: url(../../../../../assets/images/landing-header-overlay.png), url(../../../../../assets/healthcare.gif);">
                        <div class="absolute rounded !rounded-tl-lg top-0 left-0 p-3 md:p-4 bg-[#E8E8E8] text-[#272026]">Healthcare</div>
                        <img src="assets/icons/white-play-icon.png" class="cursor-pointer absolute !w-8 top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]" alt="">
                        <div class="absolute rounded-b-lg font-bold text-white lg:text-xl bottom-0 text-center w-full left-0 p-3 md:p-4 bg-[#947C6C]">Funbod Medical Diagnostix</div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="rounded-lg relative h-[350px] bg-cover" style="background-image: url(../../../../../assets/images/landing-header-overlay.png), url(../../../../../assets/infrastructure.gif);">
                        <div class="absolute rounded !rounded-tl-lg top-0 left-0 p-3 md:p-4 bg-[#E8E8E8] text-[#272026]">Infrastructure and Energy</div>
                        <img src="assets/icons/white-play-icon.png" class="cursor-pointer absolute !w-8 top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]" alt="">
                        <div class="absolute rounded-b-lg font-bold text-white lg:text-xl bottom-0 text-center w-full left-0 p-3 md:p-4 bg-[#947C6C]">
                            Azure Power
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>