<header class="">
    <app-header></app-header>

    <div class="padding-x py-10 md:py-14 xl:pb-24 font-jakarta">
        <h1 class="text-customBlack font-extrabold text-3xl md:text-5xl lg:text-6xl">MSMEs</h1>

        <div class="mt-10">
            <img class="w-full object-cover rounded-lg" src="assets/images/msme-banner.png" alt="">
        </div>
    </div>
</header>

<div class="padding-x cbn-bg grid md:grid-cols-2 lg:grid-cols-3  text-white py-10 gap-10 xl:gap-[60px] md:py-14 xl:py-20 bg-customBlack2">
    <div class="stats">
        <p class="">1502,969,4861</p>
        <p>Number of Households and MSMEs supported</p>
    </div>
    <div class="stats">
        <p>85,968</p>
        <p>Number of Budding Entrepreneurs/Mentors Trained</p>
    </div>
    <div class="stats">
        <p>3,526</p>
        <p>Number of Projects Supported In the Creative Inustry</p>
    </div>
    <div class="stats">
        <p>155,001</p>
        <p>Women led projects/ business supported</p>
    </div>
    <div class="stats">
        <p>49,698</p>
        <p>Number of youth entrepreneurship started</p>
    </div>
    <div class="stats">
        <p>1,065,336</p>
        <p>Estimated Sustainable Jobs Created</p>
    </div>
    <div class="stats">
        <p>60+</p>
        <p>Share of women led projects/businesses supported under MSMEDF</p>
    </div>
</div>

<div class="bg-[#F1F0EC] padding-x py-10 md:py-14 xl:pb-24 font-jakarta">
    <div class="grid lg:grid-cols-[1fr_40%] lg:gap-[14px]">
        <div>
            <mat-accordion>
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="text-[#F0EDED]">100 for 100</div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>
                    <p>Policy On Production & Productivity</p>

                    <ul>
                        <li>To boost production and productivity, & reverse the nation's over- reliance in imports, by creating an ecosystem that targets & supports the right companies and projects with potential to immediately transform & jumpstart the productive base of the economy.</li>
                        <li>The objectives of the programme include the following:</li>
                        <li>Increase local production & productivity</li>
                        <li>Increase non-oil exports</li>
                        <li>Reduce import of certain commodities</li>
                        <li>Improve foreign exchange earning capacity of the economy.</li>
                    </ul>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="text-[#F0EDED]">RSSF-DCCR</div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>
                    <p>Real Sector Support Facility</p>

                    <ul>
                        <li>Established in 2018</li>
                        <li>To increase the flow of credit to the real sector of the economy in order to consolidate and sustain economic recovery.</li>
                        <li>Incentivize DMBs to direct affordable, long-term bank credit to the manufacturing, agriculture, as well other sectors considered by the CBN as employment and growth stimulating.</li>
                    </ul>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
        </div>
        
        <div class="hidden lg:block h-full farm-crop-bg rounded-lg bg-center"></div>
    </div>
</div>