<app-header></app-header>

<div class="padding-x">
    <section class="py-10 md:py-14 xl:pb-24 font-jakarta">
        <h1 class="text-customBlack font-extrabold text-3xl md:text-5xl lg:text-6xl">About</h1>

        <p class="mt-10 text-base text-[#1E1E1E]">
            The Central Bank of Nigeria undertakes some developmental functions, to facilitate the attainment of its objectives through inclusive growth and sustainable finance. It does so in three major ways: stimulate finance to the agriculture and real sector; facilitate investment in critical infrastructure development; and deepen financial services inclusiveness.
        </p>

        <div class="grid gap-6 md:grid-cols-2 mt-10">
            <img class="md:row-span-2 rounded-lg object-cover" src="assets/images/about/machinery.png" alt="">
            <img class="rounded-lg h-full object-cover" src="assets/images/about/silo.png" alt="">
            <img class="rounded-lg h-full object-cover" src="assets/images/about/farm.png" alt="">
        </div>

        <p class="mt-10 text-base text-[#1E1E1E]">
            The DFD Galleria is a compendium of pictures, video clips and disbursements to projects financed under the CBN development finance interventions to priority sectors of the economy. These interventions are in the following key sectors: Agriculture; Manufacturing; MSMEs; Export; Health; Services; and Energy / Infrastructure. This has increased lending to these sectors, encouraged exports, and conserved Nigeria’s foreign exchange reserves.
        </p>
    </section>
</div>