<header>
    <app-header></app-header>

    <!-- <div class="padding-x py-10 md:py-14 xl:pb-24 font-jakarta">
        <h1 data-aos="fade-down" data-aos-duration="1500" class="text-customGreen font-extrabold text-3xl md:text-5xl lg:text-6xl">Manufacturing</h1>

        <div class="mt-10">
            <img class="w-full object-cover rounded-lg" src="assets/images/manufacturing-banner.png" alt="">
        </div>
    </div> -->
</header>


<div class="mt-10 padding-x grid md:grid-cols-[40%_1fr] gap-6">
    <div class="relative md:h-full">
        <img class="w-full h-[200px] md:h-full object-cover rounded-lg" src="assets/images/manufacturing-banner.png" alt="">
        <div class="absolute h-full w-full gradient_ top-0 left-0"></div>
        <h1 data-aos="fade-down" data-aos-duration="1000" class="text-white absolute top-5 left-5 font-extrabold text-3xl md:text-5xl">Manufacturing</h1>
    </div>
    <div class="rounded-lg cbn-bg grid md:grid-cols-3 px-4  text-[#F0EDED] py-10 gap-10 md:py-14">
        <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000">
            <p class="">1501</p>
            <p>Real Sector Projects Financed</p>
        </div>
        <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="300">
            <p>32%</p>
            <p>Increase In Capacity Utilization Projects Financed</p>
        </div>
        <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="600">
            <p>444</p>
            <p>Share Of Financed Projects That Expanded Operation</p>
        </div>
        <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="900">
            <p>221</p>
            <p>Industrial Development Projects Financed</p>
        </div>
        <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="1200">
            <p>391</p>
            <p>Number of New Machineries Financed</p>
        </div>
        <div class="stats" data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="1500">
            <p>444, 6213</p>
            <p>Estimated Sustainable Jobs Created</p>
        </div>
    </div>
</div>

<div class="bg-[#F1F0EC] mt-10 md:mt-14 padding-x py-10 md:py-14 xl:pb-24 font-jakarta">
    <div class="grid lg:grid-cols-[1fr_40%] lg:gap-[14px]">
        <div>
            <mat-accordion>
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="text-[#F0EDED]">100 for 100</div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>
                    <p>Policy On Production & Productivity</p>

                    <ul>
                        <li>To boost production and productivity, & reverse the nation's over- reliance in imports, by creating an ecosystem that targets & supports the right companies and projects with potential to immediately transform & jumpstart the productive base of the economy.</li>
                        <li>The objectives of the programme include the following:</li>
                        <li>Increase local production & productivity</li>
                        <li>Increase non-oil exports</li>
                        <li>Reduce import of certain commodities</li>
                        <li>Improve foreign exchange earning capacity of the economy.</li>
                    </ul>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <div class="text-[#F0EDED]">RSSF-DCCR</div>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div>
                    <p>Real Sector Support Facility</p>

                    <ul>
                        <li>Established in 2018</li>
                        <li>To increase the flow of credit to the real sector of the economy in order to consolidate and sustain economic recovery.</li>
                        <li>Incentivize DMBs to direct affordable, long-term bank credit to the manufacturing, agriculture, as well other sectors considered by the CBN as employment and growth stimulating.</li>
                    </ul>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
        </div>
        
        <div class="hidden lg:block h-full farm-crop-bg rounded-lg bg-center"></div>
    </div>
</div>