<section class="padding-x px-4 py-10 md:py-20">
    <div class="rounded-lg bg-[#E8E8E8] py-10 sm:py-12 md:py-16 xl:py-20">
        <h3 class="text-[#3B3F40] font-bold text-2xl md:text-3xl xl:text-[48px] text-center">
            Our Newsletter
        </h3>

        <p class="text-sm md:text-base xl:text-xl text-[#3B3F40] mt-2 md:mt-4 text-center">
            Subscribe To Our News Letter For Updates And More
        </p>

        <form class="mt-6 md:mt-10 flex flex-col items-center gap-3 w-[90%] mx-auto sm:max-w-[600px] sm:flex-row sm:gap-0">
            <input placeholder="Email address" type="email" class="bg-white w-full sm:w-auto flex-1 py-4 px-4 sm:px-8 text-sm md:py-5 border outline-none border-customGreen border-solid rounded-lg sm:rounded-r-none text-[#3B3F40]">

            <button class="bg-customGreen border sm:!rounded-l-none border-solid border-customGreen rounded-lg text-white text-sm font-bold py-4 md:py-5 w-[172px] md:w-[190px]">Subscribe</button>
        </form>
    </div>
</section>