<div class="padding-x flex gap-2 items-center text-[#989898]">
    <a routerLink="/">Home</a>

    <div>/</div>

    <div>Sectors</div>

    <div>/</div>

    <div class="font-bold text-[#3B3F40]">{{header | titlecase}}</div>
</div>

<div class="padding-x mt-8">
    <div [ngStyle]="{'background-image': 'url(../../../assets/images/landing-header-overlay.png), url(../../../assets/images/' + headerBanner + ')'}"
        class="rounded-lg py-[55px] bg-cover text-4xl md:text-[40px] lg:text-[64px] md:py-[112px] text-center md:text-left md:px-20 text-white">
        <div data-aos="fade-down" data-aos-duration="1000">{{header | titlecase}}</div>
    </div>
</div>

<div class="padding-x mt-2 grid lg:grid-cols-2 gap-2">
    <div *ngFor="let stat of stats; index as i" data-aos="fade-up" data-aos-duration="1000" [attr.data-aos-delay]="i * 150"
        class="rounded-lg px-[15px] py-[18px] lg:px-6 lg:py-7 text-white flex items-center bg-[#3F6952] gap-2.5 md:gap-4 overflow-hidden">
        <div class="font-[900] text-2xl sm:text-[26px] lg:text-[38px] whitespace-nowrap"> <span class="inline">{{stat.stat}} </span> <span *ngIf="stat.mt" class="text-[#4CC4F4] inline"> MT</span> </div>
        <div class="text-xs mt-2 font-light md:text-base xl:text-lg w-[90%] new-line">{{stat.text}}</div>
        <img [src]="stat.image" class="rounded-lg object-cover w-[52px] md:w-[80px] aspect-square" alt="">
    </div>
</div>

<div class="padding-x  mt-10 md:mt-20 pb-20 grid gap-12 md:gap-14 2xl:gap-20">
    <div *ngFor="let item of listing; odd as odd" class="grid bg-[#E8E8E8] relative rounded-lg p-2 lg:grid-cols-2 gap-x-10 xl:gap-x-20">
        
        <div class="h-full relative" [ngClass]="{'lg:order-2': !odd}">
            <img [src]="item.image" alt="" class="h-full w-full object-cover rounded-lg">
            <div data-aos="fade-down" data-aos-duration="1000" [ngClass]="{'lg:!right-10 !left-[unset]': !odd}" class="absolute bottom-8 left-8 md:bottom-10 md:left-10 text-white text-[32px] md:text-[40px] font-[900]">
                {{item.shortTitle}}
            </div>
        </div>
        <img src="assets/images/faint-logo.png" class="absolute bottom-0 w-[140px] md:w-[180px] left-0" [ngClass]="{
            'lg:!right-0 !left-[unset]': odd
        }" alt="">
        <div class="pt-6 px-4 md:px-6 xl:pr-10 pb-16 md:pt-10 lg:pt-16">
            <h4 class="font-semibold text-2xl md:text-[28px] text-[#3B3F40]">{{item.title}}</h4>

            <ul class="!mx-0 !pl-6 text-[#3B3F40]">
                <li *ngFor="let l_item of item.list; index as i" [attr.data-aos-delay]="i * 300" data-aos="fade-left" data-aos-duration="1000">{{l_item}}</li>
            </ul>
        </div>
    </div>
</div>