<header>
    <app-header></app-header>

    <div class="padding-x pb-10 lg:pb-14">
        <div class="header-banner rounded-lg padding-x relative md:h-[calc(100vh-180px)] max-h-[600px]">
    
            <div class="md:absolute md:top-[50%] md:left-[50%] md:translate-x-[-50%] py-8 w-full md:translate-y-[-50%]">
                <h1 data-aos="fade-down" data-aos-duration="2000" class="text-center max-w-[900px] mx-auto text-white font-extrabold text-2xl md:text-5xl lg:text-6xl">Stimulating The Economy For Sustainable Development</h1>
    
                <div class="p-4 w-fit rounded mt-6 md:mt-10 bg-[#D4D2D2] mx-auto">
                    <p class="text-base md:text-lg xl:text-xl text-center">DFD Intervention - Impact on Beneficiaries</p>
                    
                    <div class="mt-[18px] cursor-pointer flex gap-[6px] items-center mx-auto w-fit">
                        <img src="assets/icons/green-video-icon.png" alt="">
                        <div class="text-base md:text-lg xl:text-xl font-bold text-[#272026]">Watch Video</div>
                    </div>
                </div>
            </div>
            <!-- <iframe class="mt-6 md:mt-10 w-full " allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" src="https://www.youtube.com/embed/OjsKHqq5F2o?autoplay=0&mute=0&controls=1&origin=https%3A%2F%2Fwww.dfdgalleria.com&playsinline=1&showinfo=0&rel=0&iv_load_policy=3&modestbranding=1&enablejsapi=1&widgetid=1"></iframe> -->
        </div>
    </div>
</header>

<!-- About The CBN DFD Intervention Funds -->
<section class="padding-x py-10 md:py-14 xl:py-20">
    <div class="px-4 py-6 md:px-8 md:py-10 xl:px-16 watermark-bg rounded-lg">
        <h2 class="font-bold text-lg md:text-xl lg:text-3xl xl:text-[48px] text-customGreen">About The CBN DFD Intervention Funds</h2>

        <div class="grid mt-6 md:mt-10 lg:grid-cols-2 gap-y-6 lg:gap-x-14 xl:gap-x-[110px]">
            <div class="grid gap-6 order-2 md:order-[unset]">
                <div class="bg-white rounded-lg p-[10px] md:p-6">
                    The Central Bank of Nigeria undertakes some developmental functions, to facilitate the attainment of its objectives through inclusive growth and sustainable finance. It does so in three major ways: stimulate finance to the agriculture and real sector; facilitate investment in critical infrastructure development; and deepen financial services inclusiveness.
                </div>
                <div class="bg-white rounded-lg p-[10px] md:p-6">
                    The DFD Galleria is a compendium of pictures, video clips and disbursements to projects financed under the CBN development finance interventions to priority sectors of the economy. These interventions are in the following key sectors: Agriculture; Manufacturing; MSMEs; Export; Health; Services; and Energy / Infrastructure. This has increased lending to these sectors, encouraged exports, and conserved Nigeria’s foreign exchange reserves.
                </div>
            </div>

            <div class="bg-white rounded-lg flex justify-center items-center">
                <img data-aos="fade-left" data-aos-duration="1500" class="block mx-auto" src="assets/icons/colored-cbn-logo.png" alt="">
            </div>
        </div>
    </div>
</section>

<!-- our impact -->
<section class="padding-x bg-[#597178] pt-8 pb-20 md:pt-10 md:pb-[100px]">
    <div class="text-white text-center sm:text-left items-center grid sm:grid-cols-[auto_auto] justify-center sm:justify-between">
        <div class="font-bold text-xl xs:text-2xl lg:text-3xl xl:text-[48px]">Our Impact</div>
        <div class="text-[#4CC4F4] text-xs lg:text-sm">Last updated: 10 Days Ago</div>
    </div>

    <div class="mt-12 md:mt-[70px] text-white text-center grid md:grid-cols-2 gap-4 lg:grid-cols-4">
        <div data-aos="fade-right" data-aos-duration="1000">
            <div class="text-[80px] leading-[96px] font-bold">40+</div>
            <div class="text-base md:text-lg">Interventions</div>
        </div>
        <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
            <div class="text-[80px] leading-[96px] font-bold">20K+</div>
            <div class="text-base md:text-lg">Projects</div>
        </div>
        <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="900">
            <div class="text-[80px] leading-[96px] font-bold">3M+</div>
            <div class="text-base md:text-lg">Beneficiaries</div>
        </div>
        <div data-aos="fade-right" data-aos-duration="1000" data-aos-delay="1200">
            <div class="text-[80px] leading-[96px] font-bold">₦9B+</div>
            <div class="text-base md:text-lg">Disbursed</div>
        </div>
    </div>
</section>

<!-- our accomplishments -->
<section class="padding-x pt-10 md:pt-14 xl:pt-20 relative z-10">
    <div class="grid md:grid-cols-2 gap-2 lg:grid-cols-3">
        <app-accomplishment-cards [cardBody]="'States \n Reached'" cardHeader="36" imageUrl="assets/images/accomplishments/states-reached.png"></app-accomplishment-cards>
        <app-accomplishment-cards [cardBody]="'Sectors \n Covered'" cardHeader="7" imageUrl="assets/images/accomplishments/sectors-covered.png"></app-accomplishment-cards>
        <app-accomplishment-cards [cardBody]="'Projects'" cardHeader="3M+" imageUrl="assets/images/accomplishments/projects.png"></app-accomplishment-cards>
        <app-accomplishment-cards [cardBody]="'Jobs Created'" cardHeader="15M+" imageUrl="assets/images/accomplishments/jobs-created.png"></app-accomplishment-cards>
        <app-accomplishment-cards [cardBody]="'Lands \n Cultivated'" cardHeader="5M+" imageUrl="assets/images/accomplishments/lands-cultivated.png"></app-accomplishment-cards>
        <app-accomplishment-cards [cardBody]="'Farmers \n Empowered'" cardHeader="4M+" imageUrl="assets/images/accomplishments/farmers-empowered.png"></app-accomplishment-cards>
        <app-accomplishment-cards [cardBody]="'Youth \n Empowered'" cardHeader="758K" imageUrl="assets/images/accomplishments/youth-empowered.png"></app-accomplishment-cards>
        <app-accomplishment-cards [cardBody]="'Green Field \n Projects Financed'" cardHeader="1127" imageUrl="assets/images/accomplishments/green-field.png"></app-accomplishment-cards>
        <app-accomplishment-cards [cardBody]="'Brown Field \n Projects Financed'" cardHeader="1222" imageUrl="assets/images/accomplishments/brown-field.png"></app-accomplishment-cards>
    </div>
</section>
<!--  -->
<div class="bg-no-repeat padding-x py-10 lg:pt-20 relative">
    <img src="assets/images/faint-logo.png" class="absolute w-full object-cover top-[-120px] left-0" alt="">
    <div class="relative z-10 md:h-[calc(100vh-180px)] max-h-[600px]">
        <img src="assets/landing2.gif" class="rounded-lg h-[250px] md:h-full object-cover w-full" alt="">
        <div class="absolute bg-white top-0 left-0 p-4 text-xs md:text-sm  rounded-lg">DFD Intervention - Impact on Beneficiaries</div>
        <img src="assets/icons/white-play-icon.png" class="cursor-pointer absolute top-[50%] left-[50%] -translate-x-[50%] -translate-y-[50%]" alt="">
    </div>
</div>

<!-- Focal Sectors -->
<section class="padding-x py-10">
    <div class="px-4 py-6 md:px-8 md:py-10 lg:py-14 xl:px-16 bg-[#FAFAFA] rounded-lg watermark-bg">
        <h1 class="font-bold text-xl xs:text-2xl lg:text-3xl xl:text-[48px] text-customGreen">
            Focal Sectors
        </h1>
    
        <div class="mt-10 grid md:grid-cols-2 xl:grid-cols-3 gap-2">
            <app-focal-sectors-cards cardBody="Export" linkUrl="/export" imageUrl="assets/images/focal-sectors/export.png"></app-focal-sectors-cards>
            <app-focal-sectors-cards cardBody="MSMEs" linkUrl="/msme" imageUrl="assets/images/focal-sectors/msme.png"></app-focal-sectors-cards>
            <app-focal-sectors-cards cardBody="Agriculture" linkUrl="/agriculture" imageUrl="assets/images/focal-sectors/agriculture.png"></app-focal-sectors-cards>
            <app-focal-sectors-cards cardBody="Healthcare" linkUrl="/health" imageUrl="assets/images/focal-sectors/health.png"></app-focal-sectors-cards>
            <app-focal-sectors-cards cardBody="Infrastructure & Energy" linkUrl="/infrastructure" imageUrl="assets/images/focal-sectors/infrastructure.png"></app-focal-sectors-cards>
            <app-focal-sectors-cards cardBody="Manufacturing" linkUrl="/manufacturing" imageUrl="assets/images/focal-sectors/manufacturing.png"></app-focal-sectors-cards>
        </div>
    </div>
</section>

<!-- Intervention Investment By Sector -->
<section class="padding-x bg-[#FAFAFA] py-10">
    <h1 class="font-bold text-xl xs:text-2xl lg:text-3xl xl:text-[48px] text-customGreen">
        Intervention Investment By Sector
    </h1>
    
    <div class="grid gap-4 md:grid-cols-2 md:justify-center md:items-center mt-6 lg:mt-10">
        <div data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" class="mx-auto w-full" style="position: relative; max-width: 500px;">
            <canvas baseChart class="w-full mx-auto"
                    [data]="chartData"
                    [options]="chartOptions"
                    [type]="'doughnut'">
            </canvas>
        </div>

        <div class="mx-auto md:mx-0 w-full">
            <!-- <div *ngFor="let item of labels" class="lg:my-2 cursor-pointer flex items-center gap-4  text-[#161E17]">
                <div class="w-3 h-3 rounded-full" [style.background-color]="item.color"></div>
                <div>{{item.label}}</div>
            </div> -->
            <div class="grid gap-8 xl:gap-10">
                <div *ngFor="let item of customLabels; index as i;" data-aos="fade-left" data-aos-duration="1000" [attr.data-aos-delay]="i * 200">
                    <div class="rounded-[100px] border border-solid" [ngStyle]="{borderColor: item.color}">
                        <div class="h-4 md:h-5 rounded-[100px] animate-width" [ngStyle]="{backgroundColor: item.color, width: item.value + '%' }"></div>
                    </div>

                    <div class="text-xs md:text-sm xl:text-base">
                        {{item.text}} {{item.value}}%
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>

<!-- Some of our Partners -->
<section class="py-10">
    <div class="pt-6 pb-10 md:pt-16 md:pb-20 watermark-bg bg-center">
        <div class="padding-x">
            <h1 class="font-bold text-xl xs:text-2xl lg:text-3xl xl:text-[48px] text-customGreen">
                Participating Financial Institutions
            </h1>
        </div>
    
        <div class="mt-8 md:mt-14 hidden md:block">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="assets/images/partners/uba.png" alt="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/images/partners/union.png" alt="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/images/partners/sterling.png" alt="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/images/partners/unity.png" alt="">
                </ng-template> 
                <ng-template carouselSlide>
                    <img src="assets/images/partners/providus.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/rand.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/jaiz.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/citi.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/unity.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/chartered.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/fsdh.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/stanbic.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/keystone.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/nova.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/wema.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/polaris.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/gtb.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/titan.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/eco.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/sunTrust.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/globus.png" alt="">
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="mt-8 md:mt-14 md:hidden">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="assets/images/partners/uba.png" alt="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/images/partners/union.png" alt="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/images/partners/sterling.png" alt="">
                </ng-template>  
                <ng-template carouselSlide>
                    <img src="assets/images/partners/unity.png" alt="">
                </ng-template> 
                <ng-template carouselSlide>
                    <img src="assets/images/partners/providus.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/rand.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/jaiz.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/citi.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/unity.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/chartered.png" alt="">
                </ng-template>
            </owl-carousel-o>
            <div class="h-5"></div>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <img src="assets/images/partners/fsdh.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/stanbic.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/keystone.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/nova.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/wema.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/polaris.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/gtb.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/titan.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/eco.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/sunTrust.png" alt="">
                </ng-template>
                <ng-template carouselSlide>
                    <img src="assets/images/partners/globus.png" alt="">
                </ng-template>
            </owl-carousel-o>
        </div>
        
        <!-- <div class="mx-auto w-fit">
            <button routerLink="/partners" class="px-14 py-[12px] rounded-lg  bg-customGreen text-white font-medium text-lg">View All</button>
        </div> -->
    </div>
</section>

<app-success-stories></app-success-stories>

<app-newsletter></app-newsletter>