.header-banner {
    background-image: url(../../../../assets/images/landing-header-overlay.png), url(../../../../assets/images/gif.png);
    background-size: cover, cover;
    background-position: center, center;
}

.watermark-bg {
    background-image: url(../../../../assets/images/watermark.png), linear-gradient(#FAFAFA, #FAFAFA);
}

iframe {
    aspect-ratio: 5 / 3;
    border-radius: 8px;
}

@media screen and (min-width: 768px) {
    iframe {
        aspect-ratio: 5 / 2;
    }
}