<header class="">
    <app-header></app-header>

    <div class="padding-x pt-[92px] pb-[150px] font-jakarta">
        <h1 class="text-center md:w-[90%] mx-auto text-customBlack font-extrabold text-3xl xs:text-4xl md:text-5xl lg:text-6xl">Stimulating The Economy For Sustainable Development</h1>
    </div>
</header>

<!-- our impact -->
<section class="padding-x bg-white py-10 md:py-14 xl:py-24">
    <div class="rounded-lg text-white bg-customBlack2 gap-y-6 p-6 md:py-10 lg:py-14 lg:px-10 xl:py-20 grid md:grid-cols-[40%_60%] md:divide-x">
        <div class="py-2 md:pr-5 lg:pr-10">
            <h2 class="font-medium font-jakarta text-2xl xs:text-3xl lg:text-5xl">Our Impact</h2>
            <p class="text-sm lg:text-base mt-4">
                The winning offer doesn't always have to be the highest. Our Walter buying agent help with making the best offer for your situation. 
            </p>
        </div>

        <div class="md:pl-5 lg:pl-10 grid gap-6 md:grid-cols-[auto_auto] md:gap-10 lg:gap-14 xl:gap-20 md:py-2">
            <div data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" class="">
                <div class="font-jakarta text-2xl xs:text-3xl lg:text-5xl font-bold">20,000</div>
                <div class="font-bold text-base md:text-lg">Projects</div>
            </div>
            <div data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="500" class="">
                <div class="font-jakarta text-2xl xs:text-3xl lg:text-5xl font-bold">40</div>
                <div class="font-bold text-base md:text-lg">Interventions</div>
            </div>
            <div data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="1000" class="">
                <div class="font-jakarta text-2xl xs:text-3xl lg:text-5xl font-bold">3,239,750</div>
                <div class="font-bold text-base md:text-lg">Beneficiaries</div>
            </div>
            <div data-aos="fade-right" data-aos-once="true" data-aos-duration="1000" data-aos-delay="1500" class="">
                <div class="font-jakarta text-2xl xs:text-3xl lg:text-5xl font-bold">₦9B+</div>
                <div class="font-bold text-base md:text-lg">Disbursed</div>
            </div>
        </div>
    </div>
</section>

<!-- our accomplishments -->
<section class="padding-x bg-[#FAFAFA] py-10 md:py-14 xl:py-24">
    <h1 class="text-center text-customBlack font-extrabold text-3xl md:text-5xl lg:text-6xl">Our Accomplishments</h1>

    <div class="text-[#666666] font-medium mt-2.5 text-center">
        The winning offer doesn't always have to be the highest. Our Walter buying agent help with making the best offer for your situation. 
    </div>

    <div class="mt-20 lg:mt-24 grid md:grid-cols-2 gap-10">
        <app-accomplishment-cards cardBody="States Reached" cardHeader="36" imageUrl="assets/images/accomplishments/states-reached.png"></app-accomplishment-cards>
        <app-accomplishment-cards cardBody="Sectors Covered" cardHeader="7" imageUrl="assets/images/accomplishments/sectors-covered.png"></app-accomplishment-cards>
        <app-accomplishment-cards cardBody="Projects" cardHeader="3M+" imageUrl="assets/images/accomplishments/projects.png"></app-accomplishment-cards>
        <app-accomplishment-cards cardBody="Jobs Created" cardHeader="15M+" imageUrl="assets/images/accomplishments/jobs-created.png"></app-accomplishment-cards>
        <app-accomplishment-cards cardBody="Farmers Empowered" cardHeader="5M+" imageUrl="assets/images/accomplishments/farmers-empowered.png"></app-accomplishment-cards>
        <app-accomplishment-cards cardBody="States Reached" cardHeader="4M+" imageUrl="assets/images/accomplishments/states-reached-2.png"></app-accomplishment-cards>
        <app-accomplishment-cards cardBody="Green Field Projects Financed" cardHeader="1127" imageUrl="assets/images/accomplishments/green-field.png"></app-accomplishment-cards>
        <app-accomplishment-cards cardBody="Brown Field Projects Financed" cardHeader="1222" imageUrl="assets/images/accomplishments/brown-field.png"></app-accomplishment-cards>
    </div>
</section>

<!-- Intervention Investment By Sector -->
<section class="padding-x bg-white py-10 md:py-14 xl:py-24">
    <h1 class="text-center text-customBlack font-extrabold text-3xl md:text-5xl lg:text-6xl">
        Intervention Investment By Sector
    </h1>
    
    
</section>


<!-- Focal Sectors -->
<section class="padding-x bg-[#FAFAFA] py-10 md:py-14 xl:py-24">
    <h1 class="text-center text-customBlack font-extrabold text-3xl md:text-5xl lg:text-6xl">
        Focal Sectors
    </h1>

    <div class="mt-20 lg:mt-24 grid md:grid-cols-2 gap-10">
        <app-focal-sectors-cards cardBody="Export" linkUrl="/export" imageUrl="assets/images/focal-sectors/export.png"></app-focal-sectors-cards>
        <app-focal-sectors-cards cardBody="Agriculture" linkUrl="/agriculture" imageUrl="assets/images/focal-sectors/agriculture.png"></app-focal-sectors-cards>
        <app-focal-sectors-cards cardBody="Health" linkUrl="/health" imageUrl="assets/images/focal-sectors/health.png"></app-focal-sectors-cards>
        <app-focal-sectors-cards cardBody="MSMEs" linkUrl="/msme" imageUrl="assets/images/focal-sectors/msme.png"></app-focal-sectors-cards>
        <app-focal-sectors-cards cardBody="Infrastructure & Energy" linkUrl="/infrastructure" imageUrl="assets/images/focal-sectors/infrastructure.png"></app-focal-sectors-cards>
        <app-focal-sectors-cards cardBody="Manufacturing" linkUrl="/manufacturing" imageUrl="assets/images/focal-sectors/manufacturing.png"></app-focal-sectors-cards>
    </div>
</section>

<!-- Some of our Partners -->
<section class="padding-x py-10 md:py-14 xl:py-24 bg-img">
    <h1 class="text-center text-customBlack font-extrabold text-3xl md:text-5xl lg:text-6xl">Some of Our Partners</h1>

    <div class="text-[#666666] font-medium mt-2.5 mb-8 text-center">
        The winning offer doesn't always have to be the highest. Our Walter buying agent help with making the best offer for your situation. 
    </div>
    <div class="mb-8 grid md:grid-cols-2 gap-4 md:gap-2 lg:gap-2 lg:grid-cols-4 justify-center items-center">
        <img src="assets/images/partners/uba.png" alt="">
        <img src="assets/images/partners/union.png" alt="">
        <img src="assets/images/partners/sterling.png" alt="">
        <img src="assets/images/partners/unity.png" alt="">
    </div>
    <div class="mx-auto w-fit">
        <button routerLink="/products" class="px-14 py-[12px] rounded-lg font-jakarta bg-customGreen text-white font-medium text-lg">View All</button>
    </div>
</section>