<header>
    <app-header></app-header>

    <section class="padding-x py-10 md:py-14 xl:py-24 bg-img">
        <h1 class="text-center text-customGreen font-extrabold text-3xl md:text-5xl lg:text-6xl">Some of Our Partners</h1>
    
        <div class="text-[#666666] font-medium mt-2.5 mb-8 text-center">
            The winning offer doesn't always have to be the highest. Our Walter buying agent help with making the best offer for your situation. 
        </div>
        <div class="mb-4 grid grid-cols-2 gap-4 md:gap-2 md:grid-cols-4 mx-auto w-fit">
            <img src="assets/images/partners/uba.png" alt="">
            <img src="assets/images/partners/union.png" alt="">
            <img src="assets/images/partners/sterling.png" alt="">
            <img src="assets/images/partners/unity.png" alt="">
        </div>
        <div class="mb-4 grid grid-cols-2 gap-4 md:gap-2 md:grid-cols-3 mx-auto w-fit">
            <img src="assets/images/partners/providus.png" alt="">
            <img src="assets/images/partners/rand.png" alt="">
            <img src="assets/images/partners/jaiz.png" alt="">
        </div>
        <div class="mb-4 grid grid-cols-2 gap-4 md:gap-2 md:grid-cols-4 mx-auto w-fit">
            <img src="assets/images/partners/citi.png" alt="">
            <img src="assets/images/partners/unity.png" alt="">
            <img src="assets/images/partners/chartered.png" alt="">
            <img src="assets/images/partners/fsdh.png" alt="">
        </div>
        <div class="mb-4 grid grid-cols-2 gap-4 md:gap-2 md:grid-cols-3 mx-auto w-fit">
            <img src="assets/images/partners/stanbic.png" alt="">
            <img src="assets/images/partners/keystone.png" alt="">
            <img src="assets/images/partners/nova.png" alt="">
        </div>
        <div class="mb-4 grid grid-cols-2 gap-4 md:gap-2 md:grid-cols-4 mx-auto w-fit">
            <img src="assets/images/partners/wema.png" alt="">
            <img src="assets/images/partners/polaris.png" alt="">
            <img src="assets/images/partners/gtb.png" alt="">
            <img src="assets/images/partners/titan.png" alt="">
        </div>
        <div class="mb-4 grid grid-cols-2 gap-4 md:gap-2 md:grid-cols-3 mx-auto w-fit">
            <img src="assets/images/partners/eco.png" alt="">
            <img src="assets/images/partners/sunTrust.png" alt="">
            <img src="assets/images/partners/globus.png" alt="">
        </div>
    </section>
</header>
