<app-header></app-header>
<app-sectors-view 
  header="Agriculture"  
  [headerBanner]="'agriculture/agriculture.png'"

  [stats]="[
    {stat: '>4.56M', text: 'Smallholders financed', image: 'assets/images/agriculture/agriculture_1.png'},
    {stat: '>5.96M', text: 'Hectares of farmland cultivated', image: 'assets/images/agriculture/agriculture_2.png'},
    {stat: '21', text: 'Commodities (Planted/ reared)', image: 'assets/images/agriculture/agriculture_3.png'},
    {stat: '>50', text: 'Integrated rice mills establishment and operations financed', image: 'assets/images/agriculture/agriculture_4.png'},
    {stat: '2.5M', text: 'Contribution to 9Million MT rice paddy national output in 2021', image: 'assets/images/agriculture/agriculture_5.png'},
    {stat: '2.42M', text: 'Contribution to maize national output, which at peaked 12.2Million MT in 2022', image: 'assets/images/agriculture/agriculture_6.png'},
    {stat: '679', text: 'Large-scale agricultural projects financed', image: 'assets/images/agriculture/agriculture_7.png'},
    {stat: '>13M', text: 'Direct and indirect job created', image: 'assets/images/agriculture/agriculture_8.png'},
  ]"

  [listing]="[
    {image: 'assets/images/agriculture/list_1.png', title: 'Anchor Borrowers Program', shortTitle: 'APB', list: [
      'Established in November 17th 2015',
      'Create an economic linkage between smallholder famers and agro-processors/Anchors',
      'Increase banks\' financing to the agricultural sector',
      'Reduce agricultural commodity importation and conserve external reserves',
      'Increase capacity utilization of agricultural firms'
    ]},
    {image: 'assets/images/agriculture/list_2.png', title: 'Commercial Agriculture Credit Scheme', shortTitle: 'CACS', list: [
      'Established in 2009',
      'Fast track the development of the agricultural sector',
      'Enhance national food security',
      'Provide input for the industrial sector on a sustainable basis',
      'Reduce the cost of credit for agricultural production'
    ]},
    {image: 'assets/images/agriculture/list_3.png', title: 'Accelerated Agriculture Development Scheme', 
      shortTitle: 'AADS', list: [
      'Established to engage a minimum of 10,000 youth per state, including the FCT in agricultural production.',
      'To promote National food security in each State through sustained interactions amongst stakeholders across the agricultural value chain.',
      'Designed to open more land for agricultural activities and improve access to infrastructure.'
    ]},
    {image: 'assets/images/agriculture/list_4.png', title: 'Modified-Paddy Aggregation Scheme', 
      shortTitle: 'M-PAS', list: [
      'Established in 2021',
      'Provide credit facilities to Integrated Rice Millers at single digit interest rate to increase local production towards effecting lower prices.',
      'Enhance national food security iii). Diversify the economy and conserve foreign exchange.',
    ]},
    {image: 'assets/images/agriculture/list_5.png', title: 'Modified-Maize Aggregation Scheme', 
      shortTitle: 'M-MAS', list: [
      'Established in 2021',
      'Provide credit facilities to Integrated Rice Millers at single digit interest rate to increase local production towards effecting lower prices ii). Enhance national food security.',
      'Diversify the economy and conserve foreign exchange',
      'Provide credit facilities to feed millers, poultry farmers, silo and warehouse operators Integrated feed millers and confectionery companies using maize as their major component at single digit interest rate iv) Enhance national food security.',
    ]},
    {image: 'assets/images/agriculture/list_6.png', title: 'Private Sector-Led Accelerated Agriculture Development Scheme', 
      shortTitle: 'P-AADS', list: [
      'Fast track land clearing for primary production of agricultural commodities.',
      'Promote food security through the provision of large contiguous land for agricultural production across all states.',
      'Collaborate with agro-processors engaged in backward integration by providing financing for extended land clearing in proximal locations for cultivating commodities for supply of industrial raw materials.',
      'Support other capable stakeholders interested in unlocking land for agriculture through appropriate financing.',
      'Engender job creation for individual farmers that will cultivate on the cleared land.',
    ]},
  ]"
></app-sectors-view>