<div>
    <div class="padding-x py-16">
        <h1 class="text-customBlack font-extrabold text-3xl md:text-5xl lg:text-6xl mb-4">Agriculture</h1>
        <img class="w-full object-cover" src="assets/agric-farmland.svg" alt="">
    </div>
    <div class="md:grid md:grid-cols-2 lg:grid-cols-4 padding-x text-white py-10 bg-customBlack2">
        <div>
            <p class="font-extrabold text-2xl md:text-4xl ">4.56+</p>
            <p>Million Smallholder Finances</p>
        </div>
        <div>
            <p>4.56+</p>
            <p>Million Smallholder Finances</p>
        </div>
        <div>
            <p>4.56+</p>
            <p>Million Smallholder Finances</p>
        </div>
        <div>
            <p>4.56+</p>
            <p>Million Smallholder Finances</p>
        </div>
        <div>
            <p>4.56+</p>
            <p>Million Smallholder Finances</p>
        </div>
        <div>
            <p>4.56+</p>
            <p>Million Smallholder Finances</p>
        </div>
        <div>
            <p>4.56+</p>
            <p>Million Smallholder Finances</p>
        </div>
        <div>
            <p>13M+</p>
            <p>Direct and Indirect Jobs created</p>
        </div>
    </div>
</div>
